 body {
    width: 100%;
    overflow: hidden;
    
}
.back-img{
	background:url(../img/background.jpg) no-repeat;
	background-size: 100% 100%;
	position: relative;
}
nav{
	width: 100%;
	height: 0.34rem;
	position: absolute;
	top: 0.25rem;
	left: 0;
}
nav ul{
	width: 95%;
	height: 100%;
	margin: 0 auto;
}
nav ul li{
	width: 0.45rem;
	height: 100%;
	background: url(../img/return.png) no-repeat;
}
.danci{
	width: 100%;
	height: 8%;
	padding-top: 1rem;
}
.dancis{
	width: 100%;
	height: 8%;
	padding-top: 0.8rem;
}
.danci-auto{
	display: flex;
  	justify-content:center;
  	align-items: center;
	width: 70%;
	height: 0.6rem;
	margin: 0 auto;
	font-size: 0;
}
.icon{
	width: 0.64rem;
	height: 100%;

}
.icon img{
	width: 100%;
	height: 100%;

}
.danci-text p{
	font-size: 0.25rem;
	padding: 0.08rem 0 0 0.32rem;
	color: #693A06;
}
.fenlei{
  width: 100%;
  height: 60%;
  padding-top: 1rem;
  
}
.fenlei-auto{
  width:100%;
  height: 100%;
  display: none;

}
.cai{
	width: 100%;
	display: flex;
  	justify-content:center;
  	align-items: center;
  	font-size: 0;
}
.dc{
	height: 12%;
}
.imgs{
	height:50%;
}
.flex-text{
	margin-left: 0.4rem;
	margin-right: 0.4rem;
}
.pd{
	width: 0.4rem;
	height: 0.4rem;
	// background: red;
	position: absolute;
	right: 0.04rem;
	bottom: 0.04rem;
}
.pd img{
	display: none;
}
.border-a{
	position:relative;

}


